.gitignore export-ignore
.gitattributes export-ignore
/.gihub export-ignore
/readme_old export-ignore
/data export-ignore
CITATION.cff export-ignore
LICENSE.md export-ignore
METADATA.yml export-ignore
README.md export-ignore